body {
    background-color: #000000;
    background-image: url("resources/images/DALLEcircle.png");
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

img {
    width: 400px,
    height: 300px
  }